<div style="border-style: outset" class="col-sm-6 " id="border" ng-show="showCustomer">
    <form class="navbar-form navbar-left" class="col-sm-6 ">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon4">ID: </span>
            <input class="form-control" ng-model="customer.id" id="basic-url" aria-describedby="basic-addon3" readonly>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Name: </span>
            <input type="text" class="form-control" ng-model="customer.name" id="basic-url" aria-describedby="basic-addon3">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon5">Address: </span>
            <input type="text" class="form-control" ng-model="customer.address" id="basic-url" aria-describedby="basic-addon3">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon6">Town ID: </span>
            <input type="text" class="form-control" ng-model="customer.town.id" id="basic-url" aria-describedby="basic-addon3">
        </div>
    </form>
    <br>
    <button ng-click="saveC()" class="btn btn-primary">SAVE</button>
    <button ng-click="deleteC()" class="btn btn-danger"> Delete </button>
</div>
<br>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in customers">
            <td class="col-md-2">{{ item.id }}</td>
            <td class="col-md-6">{{ item.name }}</td>
            <td class="col-md-6">{{ item.address }}</td>
            <td class="col-md-2">
                    <button ng-click="getCustomer(item)" class="btn btn-primary"> 
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <button ng-click="getCustomer(item)" class="btn btn-success"> 
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button ng-click="getCustomer(item)" class="btn btn-danger"> 
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </td>
        </tr>
    </tbody>
</table>
<br>
<br>
<tr>
</tr>
<button class="btn btn-success" ng-click="new()">NEW CUSTOMER</button>
<br>
<br>
<br>
