<div class="modal-header">
    <h3 class="modal-title" id="modal-title">New customer</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row" style="padding: 20px;">
        <form name="new_customer" class="form-horizontal" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : new_customer.name.$invalid && !new_customer.name.$pristine }">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <div class="col-sm-10">
                    <input type="name" name="name" class="form-control" ng-model="$modal.data.name" placeholder="Name" required>
                    <p ng-show="new_customer.name.$invalid && !new_customer.name.$pristine" class="help-block">Customer name is required.</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Address:</label>
                <div class="col-sm-10">
                    <input type="name" class="form-control" ng-model="$modal.data.address" id="address" placeholder="Address">
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : new_customer.town.$invalid && !new_customer.town.$pristine }">
                <label class="control-label col-sm-2" for="town">Town:</label>
                <div class="col-sm-10">
                    <input name="town" required type="text" ng-model="$modal.data.town" placeholder="Search for town" uib-typeahead="searchTown as searchTown.name for searchTown in $modal.getTowns($viewValue)" class="form-control" typeahead-wait-ms="1000" typeahead-min-length="2" typeahead-no-results="noResults">
                    <span ng-show="noResults" class="fa fa-info-circle errspan" data-toggle="tooltip" title="No Results Found"></span>
                    <p ng-show="new_customer.town.$invalid && !new_customer.town.$pristine" class="help-block">Customer town is required.</p>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="new_customer.$invalid" type="button" ng-click="$modal.ok()">Create</button>
    <button class="btn btn-warning" type="button" ng-click="$modal.cancel()">Cancel</button>
</div>
