<div class="modal-header" style="text-align: center;">
    <i class="fa fa-question-circle fa-5x" aria-hidden="true"></i>
    <h3>Automatically change state of {{$modal.data.invoiceNo}} invoice ?</h2>
</div>
<div class="modal-footer">
    <div class="col-xs-4"></div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-success btn-outline btn-lg" ng-click="$modal.ok()">Yes</button>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-danger btn-outline btn-lg" ng-click="$modal.cancel()"> No</button>
    </div>
</div>
