<div class="row modal-row">
    <div class="col-md-5">
        <dl class="dl-horizontal">
            <div class="dl-item-sm">
                <dt>Agent:</dt>
                <dd>{{ invoice.agent.name }} </dd>
            </div>
            <div class="dl-item-sm">
                <dt>Date:</dt>
                <dd>{{ invoice.date | date:'yyyy-MM-dd' }} </dd>
            </div>
            <div class="dl-item-sm">
                <dt>Ship Date:</dt>
                <dd>{{ invoice.shippedOn | date:'yyyy-MM-dd' }} </dd>
            </div>
            <div class="dl-item-sm">
                <dt>Shipper:</dt>
                <dd>{{ invoice.shipper.name }} </dd>
            </div>
            <div class="dl-item-sm">
                <dt>Destination:</dt>
                <dd>{{ invoice.customer.town.name }} </dd>
            </div>
        </dl>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <div class="dl-item-sm">
                <dt>Customer:</dt>
                <dd>{{ invoice.customer.name }} </dd>
            </div>
            <div class="dl-item-sm">
                <dt></dt>
                <dd>{{ invoice.customer.address }} </dd>
            </div>
        </dl>
    </div>
</div>
<div class="row modal-row">
    <div style="background-color: ghostwhite; padding: 5px;">
        <h3>Items</h3>
    </div>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="itemModel in invoice.items">
                <td>{{ itemModel.id }}</td>
                <td>{{ itemModel.product.name }}</td>
                <td>{{ itemModel.product.unit }}</td>
                <td>{{ itemModel.quantity }}</td>
                <td>{{ itemModel.price }}</td>
                <td>{{ itemModel.subTotal }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row modal-row" style="margin-top: -50px;">
    <hr>
    <div style="float:right; width: 30%;">
        <dl class="dl-horizontal">
            <div class="dl-item-sm">
                <dt>SubTotal:</dt>
                <dd>{{ invoice.subTotal | currency }} </dd>
            </div>
            <div class="dl-item-sm">
                <dt>Vat rate:</dt>
                <dd>{{ invoice.vat }} %</dd>
            </div>
            <div class="dl-item-sm">
                <dt>Vat amount:</dt>
                <dd>{{ invoice.vatAmount | currency }} </dd>
            </div>
            <div class="dl-item-sm">
                <dt>Shipping:</dt>
                <dd>{{ invoice.shipping | currency}} </dd>
            </div>
            <div class="dl-item-sm">
                <dt>Total:</dt>
                <dd>{{ invoice.total | currency }} </dd>
            </div>
        </dl>
    </div>
</div>
<hr>
<div class="row">
    <button class="btn btn-info pull-right" ng-click="send()">
        Send as PDF <i class="fa fa-envelope" aria-hidden="true"></i>
    </button>
</div>
