<!DOCTYPE html>
<html ng-app="Billing">

<head>
    <title>Billling</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="library/angular.min.js"></script>
    <script src="library/angular-route.min.js"></script>
    <script src="library/angular-local-storage.min.js"></script>
    <script src="library/angular-idle.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/components/products/products.controller.js"></script>
    <script src="app/components/products/factory/products.factory.js"></script>
    <script src="app/components/agents/agents.controller.js"></script>
    <script src="app/components/agents/agent.show.controller.js"></script>
    <script src="app/components/agents/factory/agents.factory.js"></script>
    <script src="app/components/customers/customers.controller.js"></script>
    <script src="app/components/reports/salesbyregion.controller.js"></script>
    <script src="app/components/reports/report.invoice.review.controller.js"></script>
    <script src="app/components/customers/factory/customers.factory.js"></script>
    <script src="app/components/categories/categories.controller.js"></script>
    <script src="app/components/categories/factory/categories.factory.js"></script>
    <script src="app/components/stocks/stocks.controller.js"></script>
    <script src="app/components/suppliers/suppliers.controller.js"></script>
    <script src="app/components/suppliers/factory/suppliers.factory.js"></script>
    <script src="app/components/shippers/shippers.controller.js"></script>
    <script src="app/components/shippers/factory/shippers.factory.js"></script>
    <script src="app/components/sessions/sessions.controller.js"></script>
    <script src="app/components/sessions/services/sessions.services.js"></script>
    <script src="app/components/procurements/procurements.controller.js"></script>
    <script src="app/components/procurements/factory/procurements.factory.js"></script>
    <script src="app/components/invoices/invoices.controller.js"></script>
    <script src="app/components/invoices/invoice.new.controller.js"></script>
    <script src="app/components/invoices/invoice.show.controller.js"></script>
    <script src="app/components/invoices/services/invoices.service.js"></script>
    <script src="app/components/invoices/factory/invoices.factory.js"></script>
    <script src="app/components/towns/towns.controller.js"></script>
    <script src="app/components/towns/factory/towns.factory.js"></script>
    <script src="app/components/reports/report.customers.controller.js"></script>
    <script src="app/components/reports/report.categories.controller.js"></script>
    <script src="app/components/reports/report.agents.regions.controller.js"></script>
    <script src="app/components/reports/report.customers.categories.controller.js"></script>
    <script src="app/components/reports/report.dashboard.controller.js"></script>
    <script src="app/components/reports/factory/dashboard.factory.js"></script>
    <script src="app/factory/data.factory.js"></script>
    <script src="app/factory/httpinterceptor.js"></script>
    <script src="app/directives/spinner/spinner.directive.js"></script>
    <scirpt src="app/directives/access/access.directive.js"></scirpt>
    <script src="app/directives/toaster/toaster.directive.js"></script>
    <script src="app/directives/toaster/toaster.service.js"></script>
    <script src="app/components/modals/modal.instance.controller.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="library/select/select-tpls.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
    <script src="app/components/towns/towns.controller.js"></script>
    <link rel="stylesheet" type="text/css" href="library/select/select.min.css">
    <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" href="assets/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css" />
    <script src="assets/libs/countdown.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.5/angular-nvd3.min.js"></script>
    <script src="assets/js/FileSaver.min.js"></script>
    <script src="library/angular-animate.min.js"></script>
    <script src="assets/js/Echo.js"></script>

</head>

<body ng-controller="Echo">
    <div class="loading" spinner></div>
    <toaster-container></toaster-container>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" ng-show="authenticated()">
            <div class="menu-toggle-wrapper">
                <a id="menu-toggle" href="#">
                    <i id="menu-right" ng-click="isMenuOpened = true" class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i>
                    <i id="menu-left" ng-click="isMenuOpened = false" class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>
                </a>
                <div class="clear"></div>
                <hr>
            </div>
            <div id="sidebar-menu">
                <ul class="sidebar-nav">
                    <li>
                        <a href="#/dashboard" data-toggle="tooltip" data-placement="right" title="Dashboard">
                            <i class="fa fa-tachometer" aria-hidden="true"></i>
                            <span class="list-item">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/invoices" data-toggle="tooltip" data-placement="right" title="Invoices">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                            <span class="list-item">Invoices <span class="badge">{{ invoicesCount }}</span></span>
                        </a>
                    </li>
                    <li data-toggle="collapse" data-target="#reports">
                        <a data-toggle="tooltip" data-placement="right" title="Reports">
                            <i class="fa fa-area-chart" aria-hidden="true"></i>
                            <span class="list-item">Reports</span>
                        </a>
                        <ul class="sub-menu collapse" id="reports" ng-show="isMenuOpened">
                            <li><a href="#/report/regions">Sales by region</a></li>
                            <li><a href="#/report/categories">Category report</a></li>
                            <li><a href="#/report/customers">Customer report</a></li>
                            <li><a href="#/report/agents/regions">Agents Regions</a></li>
                            <li><a href="#/invoicesreview">Invoices Review</a></li>
                            <li><a href="#/report/customers/categories">Customer Categories</a></li>
                            <li><a href="#/stocks">Stock level</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#/procurements" data-toggle="tooltip" data-placement="right" title="Procurements">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            <span class="list-item">Procurements</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/products" data-toggle="tooltip" data-placement="right" title="Products">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                            <span class="list-item">Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/customers" data-toggle="tooltip" data-placement="right" title="Customers">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <span class="list-item">Customers</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/suppliers" data-toggle="tooltip" data-placement="right" title="Suppliers">
                            <i class="fa fa-truck" aria-hidden="true"></i>
                            <span class="list-item">Suppliers</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/shippers" data-toggle="tooltip" data-placement="right" title="Shippers">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span class="list-item">Shippers</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/agents" data-toggle="tooltip" data-placement="right" title="Agents">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="list-item">Agents</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/categories" data-toggle="tooltip" data-placement="right" title="Categories">
                            <i class="fa fa-list-ol" aria-hidden="true"></i>
                            <span class="list-item">Categories</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/towns" data-toggle="tooltip" data-placement="right" title="Towns">
                            <i class="fa fa-building" aria-hidden="true"></i>
                            <span class="list-item">Towns</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Menu -->
        <div id="menu" ng-show="authenticated()">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Billing</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <img class="agent-picture" ng-src="assets/img/{{ currentUsername }}.jpg" />
                            </li>
                            <li>
                                <a href="#/agents/{{ currentUserId }}">
                                    <span style="margin-right:10px;">
                                        {{ currentUser }}
                                    </span>
                                    <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#/logout">
                                    <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Content -->
        <div id="page-content-wrapper">
            <div id="main-content" ng-view></div>
        </div>
    </div>
    <!-- Menu Toggle -->
    <script type="text/javascript">
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("menu-displayed");

    });
    $('[data-toggle="tooltip"]').tooltip({
        trigger: 'hover'
    });
    </script>
</body>

</html>
