<div class="modal-header" style="background-color: ghostwhite;">
    <h3 class="modal-title" id="modal-title">Automatically updated invoices</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row modal-row">
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>#No</th>
                    <th>Date</th>
                    <th>Agent</th>
                    <th>Customer</th>
                    <th>Status</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $modal.data">
                    <td>{{ item.invoice.invoiceNo }}</td>
                    <td>{{ item.invoice.date | date:'yyyy-MM-dd' }}</td>
                    <td>{{ item.invoice.agent.name }}</td>
                    <td class="col-md-3">{{ item.invoice.customer.name }}</td>
                    <td>
                        <button style="width: 100%;" ng-class="{'btn btn-danger': item.invoice.status == -1, 'btn btn-warning': (item.invoice.status < 2 && item.invoice.status > -1), 'btn btn-primary': (item.invoice.status < 4 && item.invoice.status > 1), 'btn btn-success': (item.invoice.status < 8 && item.invoice.status > 3)}">
                        {{ $modal.states[item.invoice.status + 1] }}
                    </button>
                    </td>
                    <td>{{ item.invoice.total | currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="$modal.cancel()">Cancel</button>
</div>