<div class="row">
    <div class="col-sm-12">
        <h3>Stock</h3>
    </div>
</div>
<hr>
</div>

<div class="row">
    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th> # </th>
            <th>Name</th>
            <th>Unit</th>
            <th>Input</th>
            <th>Output</th>
            <th>Inventory</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in stocks ">
            <td>{{ $index + ((currentPage  - 1) * 10) + 1 }}</td>
            <td>{{ item.product.name }}</td>
            <td>{{ item.product.unit }}</td>
            <td>{{ item.input }}</td>
            <td>{{ item.output }}</td>
            <td>{{ item.inventory }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row pagination-center">
    <ul uib-pagination total-items="totalItems" max-size="maxPagination" ng-model="currentPage" ng-change="pageChanged()" class="pagination" boundary-links="true" force-ellipses="true"></ul>
</div>