<div class="row">
    <div style="border-style: outset" class="col-md-6" id="border" ng-show="showAgent">
        <form class="navbar-form navbar-left" class="col-sm-6 ">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon4">ID: </span>
                <input class="form-control" ng-model="agent.id" id="basic-url" aria-describedby="basic-addon3" readonly>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Name: </span>
                <input type="text" class="form-control" ng-model="agent.name" id="basic-url" aria-describedby="basic-addon3">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">Username: </span>
                <input type="text" class="form-control" ng-model="agent.username" id="basic-url" aria-describedby="basic-addon3">
            </div>
        </form>
        <br>
        <button ng-click="save()" class="btn btn-primary">SAVE</button>
        <button ng-click="delete()" class="btn btn-danger"> Delete </button>
    </div>
    <br>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in agents">
                <td class="col-md-2">{{ item.id }}</td>
                <td class="col-md-4">{{ item.name }}</td>
                <td class="col-md-4">{{ item.username }}</td>
                <td class="col-md-2">
                    <button ng-click="getAgent(item)" class="btn btn-primary"> 
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <button ng-click="getAgent(item)" class="btn btn-success"> 
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button ng-click="getAgent(item)" class="btn btn-danger"> 
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <tr>
    </tr>
    <button class="btn btn-success" ng-click="new()">NEW AGENT</button>
    <br>
    <br>
    <br>
</div>
