<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Change password</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row" style="padding: 20px;">
        <form name="change_password" class="form-horizontal" novalidate>
            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="oldpass">Old password:</label>
                <div class="col-md-7">
                    <input id="oldpass" ng-model="$modal.data.oldPassword" name="oldpass" type="password" placeholder="Old password" class="form-control input-md" required>
                </div>
            </div>
            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="newpass">New password:</label>
                <div class="col-md-7">
                    <input id="newpass" ng-model="$modal.data.newPassword" equals="{{$modal.data.newPasswordAgain}}" name="newpass" type="password" placeholder="New password" class="form-control input-md" required>
                </div>
            </div>
            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="newpassagain">New password:</label>
                <div class="col-md-7">
                    <input id="newpassagain" name="newpassagain" ng-model="$modal.data.newPasswordAgain" equals="{{$modal.data.newPassword}}" type="password" placeholder="Repeat new password" class="form-control input-md" required>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="new_town.$invalid" ng-click="$modal.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$modal.cancel()">Cancel</button>
</div>
