<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Change password</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row" style="padding: 20px;">
        <form name="new_town" class="form-horizontal" novalidate>


            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="piCurrPass">Old password:</label>
                <div class="col-md-7">
                    <input id="piCurrPass" name="piCurrPass" type="password" placeholder="old password" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="piNewPass">New password:</label>
                <div class="col-md-7">
                    <input id="piNewPass"  ng-model="value1" equals="{{value2}}" name="piNewPass" type="password" placeholder="new password" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="piNewPassRepeat">New password:</label>
                <div class="col-md-7">
                    <input id="piNewPassRepeat" name="piNewPassRepeat" ng-model="value2" equals="{{value1}}" type="password" placeholder="repeat new password" class="form-control input-md" required="">

                </div>
            </div>

        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="new_town.$invalid" ng-click="$modal.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$modal.cancel()">Cancel</button>
</div>
