<div class="row">
    <div class="profile-container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>User Profile</h4>
            </div>
            <div class="panel-body">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="col-sm-5">
                            <div align="center"> <img alt="User Picture" src="assets/img/{{agent.username}}.jpg" id="profile-image1" class="img-circle img-responsive">
                                <input id="profile-image-upload" class="hidden" type="file">
                                <!--<div style="color:#999;">Click here to change profile image</div>-->
                                <!--Upload Image Js And Css-->
                            </div>
                        </div>
                        <div class="col-sm-7" style="border-left: 1px solid #dad7d7;">
                            <div class="col-sm-5 col-xs-6 tital "><b>Name:</b></div>
                            <div class="col-sm-7 col-xs-6 "> {{ agent.name }}
                            </div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital "><b>Username:</b></div>
                            <div class="col-sm-7"><b> {{ agent.username }}</b></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital "><b>Towns:</b></div>
                            <div class="col-sm-7">
                                <span class="town-wrapper" ng-repeat="town in agent.towns">
                                    {{ town.name }}
                                </span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <br>
                            <br>
                        </div>
                        <div class="clearfix"></div>
                        <hr style="margin:5px 0 5px 0;">
                        <button type="button" class="btn btn-info pull-right" ng-click="edit(agent)">Change password</button>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </div>
    </div>
</div>