<div class="row">
    <div class="col-md-6 item-box">
        <h3> {{shipper.name}} </h3>
        <hr>
        <dl class="dl-horizontal">
            <dt class="item-name">Addres</dt>
            <dd class="item-value">{{shipper.address}}</dd>
            <dt class="item-name">Town</dt>
            <dd class="item-value">{{shipper.town.name}}</dd>
        </dl>
    </div>
    <div class="col-md-6 item-box">
        <h3>Invoices</h3>
        <div ng-repeat="item in shipper.invoicesNo">
            <a href="#" class="btn btn-link">{{item}}</a>
        </div>
    </div>
</div>