<div class="row">
    <div style="border-style: outset" class="col-md-6" id="border" ng-show="showTown">
        <form class="navbar-form navbar-left" class="col-sm-6 ">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon4">ID: </span>
                <input class="form-control" ng-model="town.id" id="basic-url" aria-describedby="basic-addon3" readonly>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Name: </span>
                <input type="text" class="form-control" ng-model="town.name" id="basic-url3" aria-describedby="basic-addon3">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">Zip: </span>
                <input type="text" class="form-control" ng-model="town.zip" id="basic-url4" aria-describedby="basic-addon3">
            </div>
          <!--  <div class="input-group">
                <span class="input-group-addon" id="basic-addon5">Region: </span>
                <input type="text" class="form-control" ng-model="town.region" id="basic-url6" aria-describedby="basic-addon3">

                <div class="input-group"  >
                <select
                        ng-init = "town.region = 2"
                        ng-model="town.region"
                        ng-options="idx as region for (idx, region) in regions"
                        ng-change="makeChanged(town.region)">
                </select>
            </div>


            </div>-->
            <div class="input-group"  >
                <select

                        ng-model="town.region"
                        ng-options="idx as region for (idx, region) in regions"
                        ng-change="makeChanged(town.region)"
                       >
                </select>
            </div>




        </form>
        <br>
        <button ng-click="save()" class="btn btn-primary">SAVE</button>
        <button ng-click="delete()" class="btn btn-danger"> Delete </button>
    </div>
    <div class="col-md-6">
        <button class="btn btn-success" ng-click="new()">NEW TOWN</button>
    </div>
</div>
<div class="row">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Zip</th>
            <th>Region</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in towns">
            <td class="col-md-2">{{ item.id }}</td>
            <td class="col-md-2">{{ item.name }}</td>
            <td class="col-md-2">{{ item.zip }}</td>
            <td class="col-md-4">{{ item.region }}</td>
            <td class="col-md-2">
                <button ng-click="getTown(item)" class="btn btn-primary">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
                <button ng-click="getTown(item)" class="btn btn-success">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <button ng-click="getTown(item)" class="btn btn-danger">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>