<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Billing.Database"
     connectionString="Data Source=sql5033.smarterasp.net;
                       Initial Catalog=DB_9CA54E_echo;
                       User Id=DB_9CA54E_echo_admin;
                       Password=P4ssw0rd"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>